/modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/products/__pycache__/*
/apps/products/migrations/*
/apps/people/__pycache__/*
/apps/people/migrations/*
/apps/socialNetwork/__pycache__/*
/apps/socialNetwork/migrations/*
/apps/employees/__pycache__/*
/apps/employees/migrations/*
/apps/clients/__pycache__/*
/apps/clients/migrations/*
/apps/orders/__pycache__/*
/apps/orders/migrations/*
/apps/orderitems/__pycache__/*
/apps/orderitems/migrations/*
/apps/invoices/__pycache__/*
/apps/invoices/migrations/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/accounts/__pycache__/*
/apps/accounts/migrations/*

.rest