{% extends 'base.html' %}

{% block title %}

    Adicionar Pedido - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
<b>Cadastro de Pedido</b>
<br />
<br />
<form action="" method="POST" enctype="multipart/form-data"> 
{% csrf_token %}
    <label>Método de pagamento</label>
    <br />
    {{ form.payment_method }}
    <br />
    <br />
    <label>Status</label>
    <br />
    {{ form.status}}
    <br />
    <br />
    <label>Cliente</label>
    <br />
    {{ form.client}}
    <br />
    <br />
    <label>Funcionário</label>
    <br />
    {{ form.employee }}
    <br />
    <br />
    <button type="submit">Salvar</button>       
</form>

{% endblock body %}